logs/
npm-debug.log
node_modules/
package-lock.json
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
!.autod.conf.js
typings

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
